<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Calvin Goodale, Developer - About{% endblock %}</title>
    <meta name="description" content="Website of Calvin Goodale, a developer based in Maine">
    <meta name="keywords" content="calvin, goodale, calvin goodale, maine, web design, graphic design, websites, graphics, freelance, developer">
    <meta name="author" content="calvin goodale">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=euc-jp">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="https://cdn.tiny.cloud/1/4k6x3enfndngb1rtn927in6qht9i579lfux4i5mwa0kg0qb2/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/prism.css') }}">
    <script>
        tinymce.init({
          selector: '#post',
          plugins: 'lists advlist codesample',
          height : "480",
          toolbar: 'undo redo | styleselect | bold italic | link image | alignleft aligncenter alignright | bullist numlist | codesample',
          branding: false
        });
    </script>	
    {% block head %}{% endblock %}
</head>
<body>
    <script src="{{ url_for('static', filename='js/prism.js') }}"></script>
    {% block body %}{% endblock %}
</body>
</html>