{% extends 'base.html' %}
{% block body %}

<body>
    <script>
        tinymce.init({
          selector: '#post2',
          plugins: 'lists advlist codesample',
          height : "480",
          toolbar: 'undo redo | styleselect | bold italic | link image | alignleft aligncenter alignright | bullist numlist | codesample',
          branding: false
        });
    </script>
    <div class="admin">
        <h1>Editing Post:</h1>
        <hr>
        <h2>Edit:</h2>
        <form action="/blog/edit/{{post.id}}" method="POST">
            <label for="title">Title:</label>
            <input class="form-control" type="text" name="title" id="title" value="{{post.title}}">
            <br>
            <label for="post">Post:</label>
            <textarea class="form-control" id="post2" name="post" rows="8">{{post.content}}</textarea>
            <br>
            <input type="submit" value="Save">
        </form>
    </div>
</body>
{% endblock %}