<header>
    <a href class="logourl animated" url="http://cgoodale.com"></a>
        <div class="letterbox">
            <span class="letter letter-c animated">c</span>
            <span class="letter letter-g animated">g</span>
            <span class="letter letter-o animated">o</span>
            <span class="letter letter-oo animated">o</span>
            <span class="letter letter-d animated">d</span>
            <span class="letter letter-a animated">a</span>
            <span class="letter letter-a2 animated">a</span>  
            <span class="letter letter-l animated">l</span>
            <span class="letter letter-e animated">e</span>
            <span class="letter dot1 animated">.</span>
            <span class="letter dot2 animated">.</span>
            <span class="letter letter-c2 animated">c</span>
            <span class="letter letter-o3 animated">o</span>
            <span class="letter letter-m animated">m</span>
        </div>
        <button class="animatebtn">
            replay?
        </button>
    </div>
</header>
